html {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 20;
    box-sizing: border-box;
    display: block;
}

ul {
    list-style: none;
} 

/* HEADER */

h1 {
    padding: 40px 0;
}

.main-header {
    background-color: #7895B2;
}

/* NAV */

.main-nav {
    padding: 30px 0;
    background-color: #AEBDCA;
    display: flex;
    justify-content: center;
    gap: 30px;

}

/* ARTICLES */

.article-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.article-card {
    padding: 20px;
    width: 350px;
    height: 200px;
    font-size: 0.9rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F0F0F0;
}

.card-title {
    align-self: center;
    font-size: 1.5em;
}


.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.article-container > p {
    margin: 0 !important;
}

.article-select {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
}

/* SINGLE ARTICLE */

.article-card-single {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-article-container {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: black solid 1px;
    border-radius: 10px;
}

.single-article-title {
    background-color: #F0F0F0;
    padding: 30px 0;
}

.single-inner-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comments-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 576px;
    gap: 15px;
    padding: 20px;
}

.article-comments-container {
    border: black solid 1px;
    border-radius: 10px;
    margin-top: 20px;
}

.comments-title {
    padding: 30px 0;
    background-color: #F0F0F0;
}

.comment-card > hr {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) {
    .article-list {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

